//详情页样式
#bigbody{
  background: #f5f5f5;  
  padding-top:20px;
// 商品购买详情
   .buy{
       margin:0 auto;
       width:80%;
       background:white;
       height:500px;
       .buy-left{
           width:48%;
           height:100%;
           margin-right: 2%;
//         background: pink;
           float: left;
           .bigimg{
               padding: 0 30px;   
           }
           .smallimg{
               
               .inner{
                 ul{
                     list-style: none;
                     li{
                         float: left;
                         a{
                             img{
                                display: block;
                                width: 60px;
                                height: 54px;
                                border: 1px solid #e4e4e4;
                                float: left;
                                margin-right: 12px;
                                border-radius: 2px;
                                margin-top: 6px;
                                text-align: center;
                             }
                         }
                     }
                 }  
               }
           }
       }
       .buy-right{
              .pit{
                  width:70px;
                  height:14px;
                  line-height:14px;
                  display:block;
                  font-size:12px;
                  color:#999;
                  float:left;
//                margin:10px 0;               
              }          
              .mum{
                    color: #f03468;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 34px;
                }
                .poor{
                    color: #666;
                    font-weight: 500;
                    font-size: 14px;
                    text-decoration: line-through;
                }
           width:50%;
           height:100%;
//         background: wheat;
           float: left;
           .clear{
               .detial-number{
                   input{
                        width: 24px;
                        height: 18px;
                        text-align: center;
                        border: 1px solid #ccc;
                        margin: 0;
                       vertical-align: middle;
                       outline: none;
                       box-sizing: content-box;
                       -webkit-appearance: textfield;
                        text-rendering: auto;
                        color: initial;
                        letter-spacing: normal;
                        word-spacing: normal;
                        text-transform: none;
                        text-indent: 0px;
                        text-shadow: none;
                        display: inline-block;
                   };
                   a{
                     display: inline-block; 
                     width: 20px;
                     background: -webkit-gradient(linear,left top,left bottom,from(#e0e0e0),to(#f0f0f0));
                     text-align: center;
                     padding: 2px;
                     color: #000;
                     text-decoration: none;
                     cursor: pointer;
                     font-weight: bolder;
                   }
               }
           }
           .btn{
               .buynow{
                   width: 140px;
                   height: 46px;
                   margin-right: 25px;
                   line-height: 46px;
                   font: 400 16px/44px 'microsoft yahei';
                    color: #f03468;
                    border: 1px solid #f03468;
                    background-color: #fff1f5;
                    padding: 0 10px;
                    cursor: pointer;
                    display: inline-block;
                    text-align: center;
               }
               .addcar{
                    width: 140px;
                    height: 46px;
                    margin-right: 25px;
                    line-height: 46px;
                    font: 400 16px/44px 'microsoft yahei';
                    text-decoration: none;
                    border: 1px solid #fa4678;
                    background-color: #fa4678;
                    display: inline-block;
                    border-radius: 2px;
                    text-align: center;
                    color: #fff
               }
           }
           h3: {
               color: #333;
                font-size: 18px;
               font-family:"microsoft yahei";
               line-height: 24px;
           };
           h5{
               color: #666;
               font-size: 14px;
               line-height: 30px;
               font-family: 'microsoft yahei';
           }
       }
   }
    .more{
        margin:0 auto;
        width:80%;
        height: 90%;
        
        .more-top{
            line-height: 44px;
            height:44px;
            width:100%;
            background:#000;
            opacity: .85;
            ul{
                list-style: none;
                .listyle{
                   color: #f03468;
                   background: white; 
                }
                li{
                    float: left;
                    padding:0 20px;           
                    margin-right: 3px;  
                    font-size: 13px;
                    font-weight: 600;   
                    color: white; 
                    cursor: hand;        
                 }
            } 
            
        }
        
        .more-dom{
            width:100%;
            background: white;
            .img{
                margin:0 15%;
            }
        }
    }

    .dibu{
        margin-left: 20px;
    }
}